<app-header></app-header>
<div class="login">
    <form class="login_form" method="post">
      <div class="login_form--textLogin">Información de cuenta</div>
      <div #loginIncorrect class="login--incorrect">Usuario o contraseña incorrecto</div>
      <input #username
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input #passw
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <button class="login_button--login" type="submit" (click)="login()">
        <div>
          Ingresar
        </div>
      </button>
    </form>
  </div>
  