<div class="container">
    <div class="container_slidebar">
        <img src="../../assets/img/euroceramica.png" class="container_slidebar--img">
        <button #conf id ="conf" (click)="active(conf, conf_submenu)" class="container_slidebar_menu container_slidebar--conf">
            <mat-icon>manage_accounts</mat-icon>
            <div>Configuración</div>
        </button>

        <div #conf_submenu class="container_slidebar-submenu" style="display:none">
            <div class="container_slidebar-submenu--item" [routerLink]="['/euro/home/users']" >Usuarios</div>
            <div class="container_slidebar-submenu--item" [routerLink]="['/euro/home/counters']">Contadores</div>
            <div class="container_slidebar-submenu--item">Valor minimo de duracion de señal por contador</div>
            <div class="container_slidebar-submenu--item">Duracion de inactividad para tiempo muerto</div>
            <div class="container_slidebar-submenu--item">Frecuencia de actualizacion de base de datos</div>
            <div class="container_slidebar-submenu--item">Hora de fin de turno</div>
        </div>

        <button #contActual id ="contActual" (click)="active(contActual, contActual_submenu)" class="container_slidebar_menu container_slidebar--contActual">
            <mat-icon>today</mat-icon>
            <div>Contadores Actuales</div>
        </button>

        <div #contActual_submenu class="container_slidebar-submenu" style="display:none">
            <div class="container_slidebar-submenu--item" [routerLink]="['/euro/home/process']">Proceso 1</div>
            <div class="container_slidebar-submenu--item" [routerLink]="['/euro/home/countersExample']">Proceso 2</div>
        </div>
        
        
        <button #contHistorico id ="contHistorico" (click)="active(contHistorico, contHistorico_submenu)" class="container_slidebar_menu container_slidebar--contHistorico">
            <mat-icon>date_range</mat-icon>
            <div>Contadores Históricos</div>
        </button>

        <div #contHistorico_submenu class="container_slidebar-submenu" style="display:none">
            <div class="container_slidebar-submenu--item">Cambio de Producto</div>
            <div class="container_slidebar-submenu--item">Fin de Turno</div>
            <div class="container_slidebar-submenu--item">Hora x Hora</div>
            <div class="container_slidebar-submenu--item">Minuto x Minuto</div>
        </div>


    </div>
</div>


