<div class="container">
  <div style="font-size: 40px; margin: 10px">{{number}}</div>
  <section>
    <div class="example-button-row" style="display: flex; justify-content: center;">
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="decrement()">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
            <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="increment()">
              <mat-icon>add</mat-icon>
            </button>
        </div>
        
    </div>
  </section>
</div>