<div class="title-dashboard">CONTADORES</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="coId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.coId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nameCounter">
      <th mat-header-cell *matHeaderCellDef> Nombre Contador</th>
      <td mat-cell *matCellDef="let element"> {{element.nameCounter}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef> Nombre Corto</th>
      <td mat-cell *matCellDef="let element"> {{element.shortName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="processName">
      <th mat-header-cell *matHeaderCellDef> Proceso </th>
      <td mat-cell *matCellDef="let element"> {{element.processName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="limit">
      <th mat-header-cell *matHeaderCellDef> Tope</th>
      <td mat-cell *matCellDef="let element"> {{element.limit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 8]" showFirstLastButtons></mat-paginator>
</div>